<!DOCTYPE html>
<div id="usermodule" class="col-xs-8" ng-controller="userController as user">
<div ng-controller="courseListController">
	<div class="row" style="margin:12px;">
			<div class="col-xs-3" style="position:absolute; left:-425px; top:25px"><b>TITLE:</b> {{user.titl}}</div>
			<div class="col-xs-3" style="position:absolute; left:-300px; top:25px"><b>SCORE:</b> {{user.score}}</div>
		<!--</div>
	<div class="row" style="margin-bottom: 9px;">-->
	<%include search-modal.ejs %>
		<div class="col-xs-5 search-box pull-right">
			<input type="search" name="q" ng-model=searchTerm class="input-bsc" placeholder="search">
			<button class="btn btn-warning search-go" ng-click="searchCourse()" >Go!</button>
		</div>
	</div>
    </div>
  <div class="row">
  	<div class="col-xs-6" >
		<div class="panel panel-default user-shadow">
		  <div class="panel-heading bg-org">
		    <h3 class="panel-title">BADGES</h3>
		  </div>
		  <div class="panel-body" style="padding: 2px; overflow: auto; height: 300px">
		    <table class="tbl-styling" style="width: 100%;">
				<tr>
					<th>S.No</th>
					<th>Names</th>
					<th>Points</th>
					<th>Badges</th>	
				</tr>
					<tr ng-repeat="badge in user.badges">
						<td>{{$index+1}}</td>
						<td>{{badge.name}}</td>
						<td>{{badge.points}}</td>
						<td><img ng-src={{badge.badgeImg}} alt="badge" style="width:60px;height:60px;"></td>
					</tr>
			</table>
		  </div>
		</div>
		</div>
		<div class="col-xs-6">
		<div class="panel panel-default user-shadow">
		  <div class="panel-heading bg-org">
		    <h3 class="panel-title">LEADERBOARDS</h3>
		  </div>
		  <div class="panel-body" style="padding: 2px; overflow: auto; height: 300px">
		    <table class="tbl-styling" style="width: 100%;">
					<tr>
						<th>S.No</th>
						<th>Name</th>
						<th>Title</th>
						<th>Points</th>	
					</tr>
					<tr ng-repeat="rank in user.rankings" class="row-style">
						<td>{{$index+1}}</td>
						<td>{{rank.name}}</td>
						<td>{{rank.title}}</td>
						<td>{{rank.points}}</td>
					</tr>
				</table>
		  </div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default user-shadow">
			  <div class="panel-heading bg-org">
			    <h3 class="panel-title">DAILY GOALS</h3>
			  </div>
			  <div class="panel-body" style="padding: 2px; overflow: auto; height: 100px">
			    <table class="tbl-styling" style="width: 100%;">
						<tr>
							<th>S.No</th>
							<th>Name</th>
							<th>Description</th>
							<th>Deadline</th>	
						</tr>
							<tr ng-repeat="goal in user.goals">
								<td>{{$index+1}}</td>
								<td>{{goal.name}}</td>
								<td>{{goal.desc}}</td>
								<td>{{goal.deadline}}</td>
							</tr>
					</table>
			  </div>
			</div>
		</div>
	</div>
</div> 
