<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gamified LMS - Learn while you have fun</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/agency.min.css" rel="stylesheet">
    <link href="/css/myagency.css" rel="stylesheet">
    <link href="/css/coursedetails.css" rel="stylesheet">

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-app="myApp" ng-controller="formController">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-static-top header-nav" role="navigation" style="margin-bottom: 0">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll navbar-center">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Gamified Learning</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <!-- /.navbar-collapse -->

    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li>
            <a class="page-scroll" href="/admin">Admin Home</a>
        </li>
        <li>
            <a class="page-scroll" href="/adminAnalytics">Analytics</a>
        </li>
        <li>
            <a class="page-scroll" href="#about">About Us</a>
        </li>
        <li>
            <a class="page-scroll" href="#team">Contact Us</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 1</strong>
                                <span class="pull-right text-muted">40% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 2</strong>
                                <span class="pull-right text-muted">20% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 3</strong>
                                <span class="pull-right text-muted">60% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 4</strong>
                                <span class="pull-right text-muted">80% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>

<div id="page-wrapper" class = "col-lg-12" >
    <div class="col-lg-12 -align-center" ng-show = "questionShow">
        <form role="form">
            <div class="form-group col-lg-12 ">
                <center><h3>Assessment Creation</h3><h4>Question Type:</h4></center>
                <div class="alert alert-danger" ng-show='errorPanel'>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Error: {{errorMsg}}
                </div>
                <div class="alert alert-success" ng-show='successPanel'>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Success: {{successMsg}}
                </div>
                <div class = "col-lg-4 col-md-offset-4">
                    <center>
                        <select id = "question" ng-model = "selectedQuestion" class="form-control" ng-change="questionChange(selectedQuestion)">
                            <option value="categories">Category</option>
                            <option value="multiplechoice">Multiple Choice</option>
                            <option value="trueorfalse">True or False</option>
                        </select>
                    </center>
                </div>

            </div>
        </form>
    </div>
    <div class="col-lg-12 -align-center " ng-show = "categoryShow">

        <form role="form">
            <div class="form-group col-md-offset-2" >
                <div class="col-md-4 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <button type="submit" class="btn btn-info col-lg-4 -align-center col-md-offset-6" ng-click="submitCategory()">
                        Submit
                    </button>
                </div>
                <div class="col-md-4 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <button type="submit" class="btn btn-info col-lg-4 -align-center col-md-offset-6" ng-click="cancelCategory()">
                        Cancel
                    </button>
                </div>
                <br>
                <br>
                <div class="col-md-6 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <input type="text" class="form-control" ng-model="category" placeholder="Enter category">
                </div>
                <div class="addcontend">
                    <div class="col-md-6 col-sm-2 col-xs-4 col-md-offset-left-2" ng-repeat="item in subcategory">
                        <input type="text" class="form-control" ng-model="item.subc" placeholder="Enter Subcategory"><br>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="addfield()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <br>
                <br>
            </div>
        </form>

    </div>
    <div class="col-lg-12 -align-center"  ng-show = "multipleShow">
        <form role="form">
            <div class="form-group" >
                <label class = "control-label col-md-2 col-sm-3 col-xs-3 col-md-offset-4">Enter Question:</label>
                <div class="col-md-3 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <input type="text" class="form-control" ng-model="multipleQues" placeholder="Enter Question">
                </div>
                <br>
                <br>
                <label class = "control-label col-md-2 col-sm-3 col-xs-3 col-md-offset-4">Enter Options:</label>
                <div class="col-md-3 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <input type="text" class="form-control" name="city" ng-model='option1' placeholder="Enter Option1" required><br>
                    <input type="text" class="form-control" name="city" ng-model='option2' placeholder="Enter Option2" required><br>
                    <input type="text" class="form-control" name="city" ng-model='option3' placeholder="Enter Option3" required><br>
                    <input type="text" class="form-control" name="city" ng-model='option4' placeholder="Enter Option4" required><br>
                </div>
                <br>
                <br>
                <label class = "control-label col-md-2 col-sm-3 col-xs-3 col-md-offset-4">Enter Answer:</label>
                <div class="col-md-3 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <input type="text" class="form-control" ng-model="multipleAns" placeholder="Enter Answer">
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-info col-lg-2 -align-center col-md-offset-5" ng-click="submitMultiple()">
                        Submit
                    </button>
                </center>
            </div>
        </form>
    </div>
    <div class="col-lg-12 -align-center" ng-show = "trueShow">
        <form role="form">
            <div class="form-group" >
                <label class = "control-label col-md-2 col-sm-3 col-xs-3 col-md-offset-4">Enter Question:</label>
                <div class="col-md-3 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <input type="text" class="form-control" ng-model="booleanQuestion" placeholder="Enter Question">
                </div>
                <br>
                <br>
                <label class = "control-label col-md-2 col-sm-3 col-xs-3 col-md-offset-4">Select True or False:</label><br>
                <div class="col-md-3 col-sm-2 col-xs-4 col-md-offset-left-2">
                    <label> <input type="radio" ng-model="radioAns" value = "true">True </label>
                    <br>
                    <br>
                    <label>  <input type="radio" ng-model="radioAns" checked value = "false">False</label>
                </div>
                <br>
                <br>
                <center>
                    <button type="submit" class="btn btn-info col-lg-2 -align-center col-md-offset-5" ng-click="submitTrue()">
                        Submit
                    </button>
                </center>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>

    angular.module('myApp',[]).controller('formController',function($scope, $http, $location) {
        var moduleId = <%- JSON.stringify(moduleId) %>;
        var selectedQuesType;
        var assessmentId = "";
        $scope.errorPanel = false;
        $scope.successPanel = false;
        $scope.subcategory = [];
        $scope.addfield=function(){
            $scope.subcategory.push({})
        }

        $scope.questionShow = true;
        $scope.categoryShow = false;
        $scope.multipleShow = false;
        $scope.trueShow = false;
        $scope.questionChange = function(selectedQuestion) {
            $scope.successPanel = false;
            $scope.errorPanel = false;
            selectedQuesType = selectedQuestion
            if(selectedQuestion === 'categories')  {
                $scope.categoryShow = true;
                $scope.multipleShow = false;
                $scope.trueShow = false;
            }   else if (selectedQuestion === 'multiplechoice') {
                $scope.categoryShow = false;
                $scope.multipleShow = true;
                $scope.trueShow = false;
            } else if(selectedQuestion === 'trueorfalse') {
                $scope.categoryShow = false;
                $scope.multipleShow = false;
                $scope.trueShow = true;
            }
        }

        $scope.submitMultiple  = function() {
            $http({
                method: 'POST',
                url: '/module/'+moduleId+'/assessment/'+assessmentId,
                data: {"question": {"questiontype": selectedQuesType,"questions":$scope.multipleQues,
                    "choices":[$scope.option1,$scope.option2,$scope.option3,$scope.option4],"answer":$scope.multipleAns} }

            }).success(function (response) {
                    console.log("Current Created assessment result::::",JSON.stringify(response));
                    if(assessmentId == ""){
                        assessmentId = response.ops[0]._id;
                        alert(assessmentId);
                    }
                    $scope.successMsg = "Successfully submitted the assessment";
                    $scope.successPanel = true;
                    $scope.errorPanel = false;
                    $scope.categoryShow = false;
                    $scope.multipleShow = false;
                    $scope.trueShow = false;

            }).error(function (error) {
                $scope.successPanel = false;
                $scope.errorMsg = "Problem to create Assessment. Please try again";
                $scope.errorPanel = true;
            });
        }

        $scope.submitTrue = function(){
            $http({
                method: 'POST',
                url: '/module/'+moduleId+'/assessment/'+assessmentId,
                data: {"question": {"questiontype": selectedQuesType,"questions":$scope.booleanQuestion,
                    "answer":$scope.radioAns} }

            }).success(function (response) {
                console.log("Current Created assessment result::::",JSON.stringify(response));
                if(assessmentId == ""){
                    assessmentId = response.ops[0]._id;
                    alert(assessmentId);
                }
                $scope.successMsg = "Successfully submitted the assessment. Select other and proceed.";
                $scope.successPanel = true;
                $scope.errorPanel = false;
                $scope.categoryShow = false;
                $scope.multipleShow = false;
                $scope.trueShow = false;

            }).error(function (error) {
                $scope.successPanel = false;
                $scope.errorMsg = "Problem to create Assessment. Please try again";
                $scope.errorPanel = true;
            });
        }

    })
</script>
</body>
</html>