<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="profileController">

<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
 
		<title>Gamified LMS - Learn while you have fun</title>

		<!-- Bootstrap Core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

		<!-- Theme CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/application.css" rel="stylesheet">
		<link href="/css/sb-admin-2.min.css" rel="stylesheet">
		<link href="/css/agency.min.css" rel="stylesheet">        
		<link href="/css/myagency.css" rel="stylesheet">  
		<link href="/css/coursedetails.css" rel="stylesheet">

		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>

		<script src="/js/coursedetails.js"></script>
		<script src="/js/userdetails.js"></script>
		<script src="/js/coursesdisplay.js"></script>		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body id="page-top" class="bg-light-blue">
						<!-- Navigation -->
				<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-static-top header-nav" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/">Gamified Learning</a>
						</div>
						<!-- /.navbar-header -->

						<ul class="nav navbar-top-links navbar-right">
								<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
										</a>
										<ul class="dropdown-menu dropdown-messages">
												<li>
														<a href="#">
																<div>
																		<strong>John Smith</strong>
																		<span class="pull-right text-muted">
																				<em>Yesterday</em>
																		</span>
																</div>
																<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<strong>John Smith</strong>
																		<span class="pull-right text-muted">
																				<em>Yesterday</em>
																		</span>
																</div>
																<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<strong>John Smith</strong>
																		<span class="pull-right text-muted">
																				<em>Yesterday</em>
																		</span>
																</div>
																<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a class="text-center" href="#">
																<strong>Read All Messages</strong>
																<i class="fa fa-angle-right"></i>
														</a>
												</li>
										</ul>
										<!-- /.dropdown-messages -->
								</li>
								<!-- /.dropdown -->
								<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
										</a>
										<ul class="dropdown-menu dropdown-tasks">
												<li>
														<a href="#">
																<div>
																		<p>
																				<strong>Task 1</strong>
																				<span class="pull-right text-muted">40% Complete</span>
																		</p>
																		<div class="progress progress-striped active">
																				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
																						<span class="sr-only">40% Complete (success)</span>
																				</div>
																		</div>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<p>
																				<strong>Task 2</strong>
																				<span class="pull-right text-muted">20% Complete</span>
																		</p>
																		<div class="progress progress-striped active">
																				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
																						<span class="sr-only">20% Complete</span>
																				</div>
																		</div>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<p>
																				<strong>Task 3</strong>
																				<span class="pull-right text-muted">60% Complete</span>
																		</p>
																		<div class="progress progress-striped active">
																				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
																						<span class="sr-only">60% Complete (warning)</span>
																				</div>
																		</div>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<p>
																				<strong>Task 4</strong>
																				<span class="pull-right text-muted">80% Complete</span>
																		</p>
																		<div class="progress progress-striped active">
																				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
																						<span class="sr-only">80% Complete (danger)</span>
																				</div>
																		</div>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a class="text-center" href="#">
																<strong>See All Tasks</strong>
																<i class="fa fa-angle-right"></i>
														</a>
												</li>
										</ul>
										<!-- /.dropdown-tasks -->
								</li>
								<!-- /.dropdown -->
								<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
										</a>
										<ul class="dropdown-menu dropdown-alerts">
												<li>
														<a href="#">
																<div>
																		<i class="fa fa-comment fa-fw"></i> New Comment
																		<span class="pull-right text-muted small">4 minutes ago</span>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<i class="fa fa-twitter fa-fw"></i> 3 New Followers
																		<span class="pull-right text-muted small">12 minutes ago</span>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<i class="fa fa-envelope fa-fw"></i> Message Sent
																		<span class="pull-right text-muted small">4 minutes ago</span>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<i class="fa fa-tasks fa-fw"></i> New Task
																		<span class="pull-right text-muted small">4 minutes ago</span>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a href="#">
																<div>
																		<i class="fa fa-upload fa-fw"></i> Server Rebooted
																		<span class="pull-right text-muted small">4 minutes ago</span>
																</div>
														</a>
												</li>
												<li class="divider"></li>
												<li>
														<a class="text-center" href="#">
																<strong>See All Alerts</strong>
																<i class="fa fa-angle-right"></i>
														</a>
												</li>
										</ul>
										<!-- /.dropdown-alerts -->
								</li>
								<!-- /.dropdown -->
								<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
										</a>
										<ul class="dropdown-menu dropdown-user">
												<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
												</li>
												<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
												</li>
												<li class="divider"></li>
												<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
												</li>
										</ul>
										<!-- /.dropdown-user -->
								</li>
								<!-- /.dropdown -->
						</ul>
						<!-- /.navbar-top-links -->
				</nav>

				<div class="col-lg-7" style="margin-left:180px;margin-right:30px;margin-top:20px;margin-bottom:20px;">
					<div id="top-card" class="profile-details">    
						<div class="modal-body row">
						<div class="col-md-3">    	
							<div id="profile" class="profile-card profile-picture">
								<img src="/img/harry.jpg" height="200" width="200">
							</div>
						</div>			
						<div class="col-md-6">
							<h1>Harry Potter</h1>	
							<h4>Student at San Jose State University</h4>
							San Jose, CA
							<br>
							
							<br>							
							Interested in Mathematics, Programming
							<br>
							<br>
							Badges: 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Current courses: 4
							
						</div>
						</div>	
						<div class="modal-body row">
							<h3>Your courses</h3>						
							<br>
						      <div ng-repeat="list in courses" class="col-xs-4 course-ov">
						        <div>
						          <div>
						            <img class="img-course" ng-src={{list.imgurl}}>
						            <div class="course-title-index box-center">{{list.name}}</div>
						          </div>
						          <button class="btn-basics btn-view course-thumbnail-button hvr-grow-shadow" ng-click="goToCourse(list._id,list.name)">View Course</button>
						        </div>
						      </div>						    
						</div>
						<div class="modal-body row">
						<h3>Badges & Positions</h3>
							<div class="row user-lg">

		<div class="col-xs-6">

			<table class="tbl-styling" style="width: 100%;">
				
				<tr class="row-style">
					<th class="bg-ylw">S.No</th>
					<th class="bg-ylw">Names</th>
					<th class="bg-ylw">Points</th>
					<th class="bg-ylw">Badges</th>	
				</tr>
					<tr ng-repeat="badge in user.badges">
						<td>{{$index+1}}</td>
						<td>{{badge.name}}</td>
						<td>{{badge.points}}</td>
						<td><img ng-src={{badge.badgeImg}} alt="badge" style="width:60px;height:60px;"></td>
					</tr>
			</table>
		</div>
		<div class="col-xs-6">
			<table class="tbl-styling" style="width: 100%;">
				
				<tr class="row-style">
					<th class="bg-org">S.No</th>
					<th class="bg-org">Course Name</th>
					<th class="bg-org">Your Position</th>
					<th class="bg-org">Points</th>	
				</tr>
				<tr ng-repeat="rank in user.rankings" class="row-style">
					<td>{{$index+1}}</td>
					<td>{{rank.coursename}}</td>
					<td>{{rank.position}}</td>
					<td>{{rank.points}}</td>
				</tr>
			</table>
			</div>
		</div>
		<div class="row user-sm">
		<h3>Daily goals</h3>
		<div class="col-lg-12">
			<table class="tbl-styling" style="width: 100%;">
				
				<tr class="row-style">
					<th class="bg-pink">S.No</th>
					<th class="bg-pink">Name</th>
					<th class="bg-pink">Description</th>
					<th class="bg-pink">Deadline</th>	
				</tr>
					<tr ng-repeat="goal in user.goals">
						<td>{{$index+1}}</td>
						<td>{{goal.name}}</td>
						<td>{{goal.desc}}</td>
						<td>{{goal.deadline}}</td>
					</tr>
			</table>
			</div>
		</div>
						</div>
					
					</div>
				</div>
	<script type="text/javascript">
	var app = angular.module("myapp",[]);
	app.controller('profileController',function($http,$scope,$location) {
		$scope.courses = [{"_id":"581bd25b5968d1438273c216","name":"Java","description":"Statically typed, safe language","imgurl":"/img/java.png"},{"_id":"581bd2985968d1438273c217","name":"Python","description":"Dynamically typed, fast learning","imgurl":"/img/python.jpg"},{"_id":"581bd2e55968d1438273c218","name":"HTML5","description":"Create web typed, fast learning","imgurl":"/img/html.png"},{"_id":"5830b45764bcee96f5176ec9","name":"CSS3","description":"To style your web page","imgurl":"/img/css.png"},{"_id":"5831e2fa9da3f2a544ee03e5","name":"ReactJS","description":"Can be used irrespective of the framework used.","imgurl":"/img/react.png"}];
		$scope.user= {};
		$scope.user.titl = "Beginner";
	$scope.user.score = 560;

	$scope.user.badges =[{
		name: "C++ Wizard",
		points:800,
		badgeImg:"/img/coursedetails/gold.png"
	},{
		name: "HTML Wizard",
		points: 740,
		badgeImg:"/img/coursedetails/topbadge.png"
	},{
		name: "SCSS Lord",
		points: 440,
		badgeImg:"/img/coursedetails/bronze.png"
	},{
		name: "MS Wizard",
		points: 840,
		badgeImg:"/img/coursedetails/gold.png"
	},{
		name: "C Newbie",
		points: 340,
		badgeImg:"/img/coursedetails/topbadge.png"
	},{
		name: "D3JS Wizard",
		points: 740,
		badgeImg:"/img/coursedetails/gold.png"
	},{
		name: "ReactJS Newbie",
		points: 400,
		badgeImg:"/img/coursedetails/topbadge.png"
	}];

	$scope.user.rankings =[{
		coursename: "Java",
		position: "15",
		points: 1550
	},{
		coursename: "CSS3",
		position: "1",
		points: 1055
	},{
		coursename: "HTML5",
		position: "7",
		points: 980
	},{
		coursename: "Python",
		position: "54",
		points: 900
	},{
		coursename: "ReactJS",
		position: "125",
		points: 890
	}];

	$scope.user.goals = [{
		name: "Finish 3 Chapters",
		desc: "Complete the next 3 chapters in Java",
		deadline: "Nov'16"
	},{
		name: "Complete Java Topics",
		desc: "Complete the next 3 chapters in Java",
		deadline: "Jan'17"
	},{
		name: "Study CSS3 Chapters",
		desc: "Complete the css3 chapters in Java",
		deadline: "Apr'17"
	}];

	$scope.user.socialdetails =[{
		link: "https://www.facebook.com/",
		icon: "img/social-media/fb.png"
	},
	{
		link: "https://www.linkedin.com/",
		icon: "img/social-media/link.png"
	},
	{
		link: "https://twitter.com/",
		icon: "img/social-media/twitter.png"
	}
	];


	});
	</script>