.search-box {
	float: right;
	margin: 0;
}
.course-heading {
	text-align: center;
	margin: 15px;
}
.btn-rnd {
	border-radius: 15px;
	margin: 0; 
}
.lock {
	width: 15px;
}
.column-bar-h {
	width: 85px;
	height: 2px;
	display: inline-block;
	background-color: grey;
}
.column-bar-v {
	width: 2px;
	height: 150px;
	display: inline-block;
	background-color: grey;
}
.btn-rect {
	margin: 0;
}
.btn-blue{
	background:linear-gradient(#33ccff,#1a93ff);
}
.elem-center{
	display: block;
	margin: auto;
}
.line {
    width: 1px;
    height: 60px;
    background-color: black;
}
.topic-difficult {
	background: linear-gradient(#ff0000, #ffcccc);
}
.topic-easy {
	background: linear-gradient(#66ff00,#aaffbb);
}
.topic-medium {
	background: linear-gradient(#ffff00,#ffffaa);
}
.pointer {
	cursor: pointer;
}
.not-allowed {
	cursor: not-allowed;
}
.course-box{
	height: 480px; 
	background: #ccffcc; 
	box-shadow: 10px 10px 5px #888888; 
	border-radius: 5px; 
	padding: 20px; 
	overflow:auto;
}
.user-box {
	/*width: 415px;*/
	height: 480px; 
	background: #ccffcc; 
	box-shadow: 10px 10px 5px #888888; 
	border-radius: 5px; 
	margin:0 auto;
	overflow:auto;
}
.user-sm {
	height: 200px; 
	background: #ffffff;
	display: block;
	margin: 20px auto;
	overflow:auto;
	background:#ccffcc;
}
.user-lg {
	height: 300px; 
	background: #ffffff;
	display: block;
	margin: 0px auto;
	overflow:auto;
	background:#ccffcc;
}
.tbl-styling{
	border:3px solid #10a2a2;
}
.tbl-styling caption{
	text-align: center;
	background-color: #ccffcc;
}
.tbl-styling th,.tbl-styling td{
	padding: 5px;
	text-align: left;
} 
.tbl-styling tr:nth-child(even){
    background-color: #eee;
}
.tbl-styling tr:nth-child(odd) {
   background-color:#fff;
}
.social-icon{
	width:30px;
	hieght: 30px;
}

