@media (min-width: 768px) {
  .navbar-center {
    float: left !important;
    margin-left: 200px;
  }
}

.course-text-content {
	margin: 20px;
  	padding: 10px;
  	width: 350px;
  	height: 279px;
  	overflow: auto;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  }
  
.test-question-block {
	margin: 0 0 20px 0;
	padding: 10px;
	width: 832px;
}

.multiple-choice-question {
	margin: 10px 20px 10px 20px;
	padding: 10px;
}

.multiple-choice-option {
	margin:10px;
	padding:5px;
	width: 350px;
}
 
.panel-default {
	margin-top: 20px;
} 
 
.embed-responsive {
	margin: 20px;
}

.img-course {
	width: 260px;
	height: 200px;
	top: 0;
	left: 0;
	position: absolute;
}

.course-thumbnail-button {
	position: absolute;
	top: 0;
	left: 175px;
}