@media (min-width: 768px) {
  .navbar-center {
    float: left !important;
    margin-left: 200px;
  }
}

.course-text-content {
	margin: 20px;
  	padding: 10px;
  	width: 350px;
  	height: 279px;
  	overflow: auto;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  }
  
.test-question-block {
	clear: both;
	margin: 10px 10px 20px 10px;
	padding: 10px;
	width: 832px;
}

.multiple-choice-question {
	margin: 10px 20px 10px 20px;
	padding: 10px;
}

.multiple-choice-option {
	margin:10px;
	padding:5px;
	width: 350px;
}

.bucket-choice {
	width: 200px;
}
 
.panel-default {
	margin-top: 20px;
} 
 
.embed-responsive {
	margin: 20px;
}

.img-course {
	width: 260px;
	height: 200px;
	top: 0;
	left: 0;
	position: absolute;
}

.course-thumbnail-button {
	position: absolute;
	top: 0;
	left: 175px;
}

.source-bucket {
    min-height: 20px;
    list-style-type: none;
    margin: 20px;
    padding: 5px 0 0 0;    
    margin-right: 10px;
  }
  .result-bucket-header {
    border: 5px solid #ff6a1a;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 20px;
    padding: 5px 0 0 0;
    margin-right: 10px;
  }
  .result-bucket {
    border: 5px solid #ff6a1a;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 20px;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  .source-bucket li, .result-bucket li {
    margin: 0 5px 5px 5px;
    padding: 5px;
  }
  ul.source-bucket li {
    display:inline;
}